html {
    background-color: #2196f3;
    min-height: 1000px;
    font-family: "helvetica neue";
    background: url(fondo.png), #2196f3;
    background: url(fondo.png),
      -webkit-gradient(linear, right top, left top, from(#2196f3), to(#009688));
    background: url(fondo.png),
      linear-gradient(to left, #2196f3, #009688);

  }


  
  h1 {
    color: #fff;
    padding: 10px;
  }
  
  .contenedor {
    max-width: 400px;
    margin: 50px auto;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  
  #cabecero {
    background-color: #3f51b5;
    text-align: center;
  }
  
  .elemento {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    padding-bottom: 1rem;
  }
  
  .elemento:last-child {
    border-bottom: 0;
  }
  

  
  p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
  }
  
  form {
    text-align: center;
  }
  
  button {
    min-height: 50px;
    width: 50px;
    border-radius: 30%;
    border-color: transparent;
    background-color: #1e1e1e;
    color: #fff;
    font-size: 30px;
    padding-bottom: 6px;
    border-width: 0;
    cursor: pointer;
    margin: .7rem;
  }
  
  input{
    text-align: center;
    height: 60px;
    top: 10px;
    border: none;
    background: transparent;
    font-weight: 200;
    width: 40%;
    outline: none;

  }
  
  input::placeholder {
    color: grey;
    opacity: 1;
  }




.contenedor div{
  text-align: center;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0 auto;
}

li{
  padding: 7px;
}

h2{
  padding: .5rem;
  text-align: center;
  color: white;
  max-width: 300px;
  margin: 25px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.agregar{
  background-color: rgb(15, 185, 15);
}

.borrar{
  background-color: rgb(243, 31, 95);
  
}

.boton{
  text-align: center; 
}

